@page "/ManageUsers"
@using ACES_Project2.Components.Controls
@using ACES_Project2.Components.Modals
@attribute [Authorize(Roles = "Admin")]

@inject IViewUsersUseCase ViewUsersUseCase
@inject IJSRuntime JS

<h3>User List</h3>

<br />
<br />

<UserListComponent></UserListComponent>

<br />

<button class="btn btn-primary" @onclick="OpenModal">
    Add User
</button>

<AddUserModal @ref="addUserModal" OnClose="CloseModal" />

@code {
    private AddUserModal addUserModal;

    private async void OpenModal()
    {
        // showModal = true; // no longer needed for Bootstrap JS modal
        await addUserModal.OpenAsync();
    }

    private void CloseModal()
    {
        // You can perform additional actions here after modal closes
        StateHasChanged();
    }
}